# Config
PROJECT_NAME="NeuroCorp RAG Service"
API_V1_STR="/api/v1"
ENVIRONMENT="dev"

GROQ_API_KEY="CHANGE_TO_YOUR_KEY"
TAVILY_API_KEY="CHANGE_TO_YOUR_KEY"

# Database
MONGODB_URL="mongodb://localhost:27017"
QDRANT_URL="http://localhost:6333"